:host {
    & > div {
        position: relative;
        display: block;

        .container {
            padding-top: 150px;
            padding-bottom: 70px;
        }

        .chapter-intro-wrap {
            min-height: 100vh;
            display: flex;
            align-items: center;
        }

        h2 {
            position: relative;
            text-align: center;
            font-size: 48px;
            line-height: 1.09375em;
        }

        h3 {
            font-family: 'Karla', sans-serif;
            font-weight: normal;
            text-align: center;
            font-size: 26px;
            line-height: 1.09375em;

            @media (min-width: 768px) {
                font-size: 43px;
            }
        }

        p.intro {
            font-size: 17px;
            padding-top: 20px;
            text-align: center;
        }

        div.chapter-indicator-helper {
            position: absolute;
            left: 15px;
            bottom: 15px;
            width: 5px;
            opacity: 0;
            transition: .1s ease-in opacity;
            max-height: calc( 100% - 30px );

            &.show-me {
                opacity: 1;
                transition-delay: 0s;   
            }
        }
        
        div.inview-helper {
            position: absolute;
            top: 100vh;
            left: 5px;
            width: 1px;
            height: calc( 100% - 200vh );
        }
    }
}