<div class="centered" *ngIf='item.chart.title && item.chart.title.length'>

  <div>

    <span>{{item.chart.title}}</span>

  </div>

</div>

<div>

  <canvas #myCanvas></canvas>

  <div class="centered" *ngIf='item.chart.description && item.chart.description.length'>

    <div>
  
      <span>{{item.chart.description}}</span>
  
    </div>
  
  </div>

</div>