:host {
    display: block;
    position: relative;
    width: 100%;

    @media (max-width: 767px) {
        overflow-y: visible;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    & > div:not(.centered) {
        display: block;
        position: relative;
        padding-top: 100%;
        width: 200%;
        margin-bottom: 90px;

        @media (min-width: 768px) {
            padding-top: 50%;
            width: 100%;
        }

        canvas {
            position: absolute;
            top: 0;
            width: 100%;
            height: auto;
        }
    }
}