:host {
    display: block;
    position: relative;
    border-bottom: 1px solid #CCCCCC;

    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        
        div.row {
            position: relative;
            top: 50px;

            div.col-md-6 {
                opacity: .25;
                margin-bottom: 50px;
                cursor: pointer;
                transition: ease .2s opacity;

                &.active, &:hover {
                    opacity: 1;
                }

                h3 {
                    font-size: 17px;
                    margin-bottom: 20px;
                    color: #000;
                    transition: ease .2s color;

                    @media (min-width: 768px) {
                        margin-right: 15%;
                    }
                }
        
                p {
                    font-size: 17px;
                    color: #000;
                    font-family: 'Cormorant Garamond', serif;

                    @media (min-width: 768px) {
                        margin-right: 15%;
                    }
                }
            }
        }
    }
}