<div class="centered" *ngIf="item.image">
	<div>
		<div [class]="'image-wrap ' + item.image.size" #imageWrap>
			<img
				[lazyLoad]="item.image.image_path"
				[style.width.px]="item.image.width"
				[style.paddingTop.%]="100 * (item.image.height / item.image.width)"
				(onStateChange)="imageLoaded($event, imageWrap)"
			/>
		</div>

		<span>{{ item.image.description }}</span>
	</div>
</div>
