:host {
    font-size: 1rem;
    display: block;
    padding-bottom: 50px;
    position: relative;
    width: 100%;

    .image-wrap {
        position: relative;
        background-color: #efefef;
        overflow: hidden;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 15px;
            background-color: #fff;
        }

        img {
            display: block;
            max-width: 100%;
            opacity: 0;
            transform: translateY(15px);
            transition: .7s ease opacity, 1.8s ease transform;

            &.ng-lazyloaded {
                padding-top: 0 !important;
                opacity: 1;
                transform: translateY(0);
            }
        }

        &.small {
            margin-left: 30%;
            margin-right: 30%;
        }

        &.medium {
            margin-left: 15%;
            margin-right: 15%;
        }
    }

    span {
        font-size: 0.875em;
    }

}