<div class="custom-radio clearfix">
										
  <input id="radio-{{ sectionName }}-{{ index }}" type="radio" name="radio-{{ sectionName }}" [value]="radioInfos.value" [(ngModel)]='modelItem.checkedValue' tabindex="-1" (change)='handleChange()' required>
  <label for="radio-{{ sectionName }}-{{ index }}">
      <span *ngIf='radioInfos.name' [innerHTML]="radioInfos.name"></span>
  </label>
  
</div>