:host {
    .custom-radio {
        display: inline-block;
        position: relative;
        font-size: 20px;
        transition: all 0.05s ease-out;
        backface-visibility: hidden;

        label {
            cursor: pointer;
            position: relative;
            margin: 0;
            line-height: 1;
            padding: 6px 0px 0px 22px;
            user-select: none;

            > span {
                position: relative;
                padding-right: 15px;
                font-family: 'Karla', sans-serif;
                font-size: 14px;
                text-transform: uppercase;
                font-weight:normal;
            }

            &:before {
                content: "";
                background: url(../../assets/images/radio_unchecked.svg) center center no-repeat;
                height: 17px;
                width: 17px;
                position: absolute;
                bottom: 0;
                left: 0px;
                top: 7px;
            }

            &:after {
                content: "";
                background: url(../../assets/images/radio_checked.svg) center center no-repeat;
                height: 17px;
                width: 17px;
                position: absolute;
                bottom: 0;
                left: 0px;
                top: 7px;
                opacity: 0;
                visibility: hidden;
                transform: scale(.2);
                transition: 0s ease all;
            }

        }

        input[type=radio] {
            display: none;

            &:checked + label {
                
                &:after {
                    transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                    transition: .15s ease all;
                }

            }   
        }

    }
}