:host {
    display: block;
    position: relative;
    padding-bottom: 50px;
    font-size: 1rem;
    width: 100%;

    div.iframe-wrap {
        position: relative;
        padding-top: 56.25%;
        background-color: #efefef;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 15px;
            background-color: #fff;
        }

        & > div {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            display: block;
            transform: translateY(15px);
            transition: .7s ease opacity, 1.8s ease transform;
        }
    
        &.in-viewport > div {
            opacity: 1;
            transform: translateY(0);
        }
    }

    span {
        font-size: 0.875em;
    }
}