<div>
  
  <div #iframeWrap class="iframe-wrap" snInViewport (inViewportChange)="onInViewportChange($event, iframeWrap)">

    <div [innerHtml]="iframeHtml"></div>

  </div>
  
  <div class="centered">

    <span>{{item.description}}</span>

  </div>

</div>