:host {
    & > div {
        overflow: hidden;
        position: absolute;
        left: 15px;
        top: 15px;
        height: calc( 100vh - 30px );
        width: 5px;

        @media (max-width: 600px) {
            left: 0;
        }

        &.fixed {
            position: fixed;
        }

        & > div {
            position: relative;
            width: 100%;
            height: 100%;

            & > div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: #fff;

                &.scrollbar {
                    transition: .3s ease height, 1.7s ease color;
                }

                &.progressbar {
                    transition: 1.7s ease color;
                }
            }
        }
    }
}