:host {

    .container {

        & > div {
            display: flex;
            height: 100vh;
            align-items: center;

            & > div {
                width: 100%;
            }
        }

        .download-config-wrap {
            background: #fff;
            padding: 60px 50px;

            .cb-inline-wrap {
                display: block;
                float: left;
                margin-right: 15px;
                margin-bottom: 10px;
            }

            .buttons-wrap {
                margin-top: 30px;
                text-align: center;

                a {
                    position: relative;
                    cursor: pointer;
                    font-family: 'Karla', sans-serif;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin: 0 10px;
                    color: rgba(0,0,0,.3);
                    transition: .25s ease color;
                    text-decoration: underline;
                    text-underline-position: under;

                    &:hover {
                        color: #D0021B;
                    }
                }
            }
        }
    }
}