<div class="container">
  <div>
    <div>
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <div
            class="download-config-wrap"
            (clickOutside)="clickedOutside($event)"
            appClickOutside
          >
            <div class="clearfix">
              <div
                *ngFor="let chapterRadio of radios; let i = index"
                class="cb-inline-wrap"
              >
                <app-checkbox
                  [cbName]="chapterRadio.name"
                  [sectionName]="'dashboard-print'"
                  [index]="i"
                  [modelItem]="chapterRadio"
                  (change)="handleChange()"
                ></app-checkbox>
              </div>
            </div>

            <div class="buttons-wrap">
              <!-- <a role="button" (click)='generateDownload()'>Auswahl Herunterladen</a> -->
              <ng-container *ngIf="chapters">
                <!-- https://oer-back-end.test vs. https://ifso.sowi.uni-due.de/oer/backend-->
                <a
                  [href]="
                    'https://ifso.sowi.uni-due.de/oer/books/1/' +
                    radioModel.checkedValue +
                    '?chapters=' +
                    chosenChaptersString
                  "
                  target="_self"
                  >Auswahl herunterladen</a
                >
                <a
                  [href]="
                    'https://ifso.sowi.uni-due.de/oer/books/1/' +
                    radioModel.checkedValue +
                    '?chapters=' +
                    allChaptersString
                  "
                  target="_self"
                  >Buch herunterladen</a
                >
              </ng-container>

              <ng-container *ngIf="subChapters">
                <a
                  [href]="
                    'https://ifso.sowi.uni-due.de/oer/books/1/' +
                    radioModel.checkedValue +
                    '?chapters=' +
                    chosenChaptersString +
                    '&learningsections=' +
                    chosenSubChaptersString
                  "
                  target="_self"
                  >Auswahl herunterladen</a
                >
                <a
                  [href]="
                    'https://ifso.sowi.uni-due.de/oer/books/1/' +
                    radioModel.checkedValue +
                    '?chapters=' +
                    allChaptersString
                  "
                  target="_self"
                  >Kapitel herunterladen</a
                >
              </ng-container>

              &nbsp;&nbsp;

              <span *ngFor="let format of printFormats; let i = index">
                <app-radio
                  (notify)="handleChangeFormat($event)"
                  [sectionName]="'dashboard-print'"
                  [index]="i"
                  [radioInfos]="format"
                  [modelItem]="radioModel"
                ></app-radio>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
