<ng-container *ngIf='book'>

  <app-dashbard *ngIf='coverImageLoaded' [chapters]='book.chapters' [bookTitle]='book.title' [bookId]='book.id' [bookAuthor]='book.author'></app-dashbard>

  <app-cover [cover]='bookCover' (coverImageLoaded)='coverImageLoadedEvent($event)'></app-cover>

  <app-chapter *ngFor='let chapter of book.chapters; let i = index' [chapters]='book.chapters' [chapterIndex]='i + 1' [class.last-chapter]='i === ( book.chapters - 1 )'></app-chapter>

  <app-chapter-scroll-bar *ngIf='coverImageLoaded'></app-chapter-scroll-bar>

  <div id="fixed-search-wrap" *ngIf='isSearchMode' [class.dash-board-closed]='!dashBoardOpen'>
    <app-search-bar [setFocus]='false'></app-search-bar>
  </div>

  <a role="button" class="d-md-none" id="btn-mobile-dashboard" (click)="openDashboard()"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <g id="Content" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="5-iPhone-SE-Ausgeklappt-III-Copy" transform="translate(-289.000000, -16.000000)" stroke="#FFFFFF" stroke-width="1.5">
            <g id="Group" transform="translate(289.000000, 16.000000)">
                <path d="M8,16 L8,0" id="cross-a"></path>
                <path d="M0,8 L16,8" id="cross-b"></path>
            </g>
        </g>
    </g>
</svg></a>

</ng-container>