:host {
	position: relative;
	display: block;
	overflow: hidden;

	#fixed-search-wrap {
		position: fixed;
		z-index: 9;
		top: -24px;
		text-align: center;
		width: 100%;
		transform: translateY(0);
		transition: 0.3s ease transform;

		&.dash-board-closed {
			transform: translateY(44px);
		}
	}

	#btn-mobile-dashboard {
		position: fixed;
		z-index: 89;
		top: 20px;
		right: 20px;
	}
}
