<div>
	<ng-container *ngIf="optionalCookiesAllowed; else cookiesNotAllowed">
		<div
			#iframeWrap
			class="iframe-wrap"
			snInViewport
			(inViewportChange)="onInViewportChange($event, iframeWrap)"
			[style.paddingTop.%]="paddingTop"
		>
			<div [class.is-absolute]="paddingTop > 0">
				<iframe
					*ngIf="iframeVisible"
					[src]="this.iframeSource"
					width="100%"
					height="100%"
					frameborder="0"
				></iframe>
			</div>
		</div>

		<div class="centered">
			<span>{{ item.description }}</span>
		</div>
	</ng-container>
	<ng-template #cookiesNotAllowed>
		<div class="cookies-disbaled-hint">
			<p>
				Um diesen Inhalt anzeigen zu lassen, musst du zustimmen, dass Cookies von externen Webseiten
				verwendet werden dürfen. Öffne dazu die „Cookie-Einstellungen“ am oberen Rand des Fensters.	
			</p>
		</div>
	</ng-template>
</div>
