:host {
	display: block;
	position: relative;
	padding-bottom: 50px;
	font-size: 1rem;
	width: 100%;

	div.iframe-wrap {
		position: relative;
		background-color: #efefef;

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 15px;
			background-color: #fff;
		}

		& > div {
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			display: block;
			transform: translateY(15px);
			transition: 0.7s ease opacity, 1.8s ease transform;

			&.is-absolute {
				position: absolute;
			}
		}

		&.in-viewport > div {
			opacity: 1;
			transform: translateY(0);
		}
	}

	div.cookies-disbaled-hint {
		border: 1px solid #d0021b;
		background-color: rgba(#d0021b, 0.1);
		padding: 25px 5%;
		text-align: center;

		p {
			margin-bottom: 0;
		}
	}

	span {
		font-size: 0.875em;
	}
}
