:host {

    .container {

        & > div {
            display: flex;
            height: 100vh;
            align-items: center;

            & > div {
                width: 100%;
            }
        }

        .copy-link-wrap {
            background: #fff;
            padding: 20px 15px;

            @media (min-width: 768px) {
                padding: 60px 50px;
            }

            p {
                text-align: center;
                font-family: 'Karla', sans-serif;
                font-size: 12px;
                padding-bottom: 0;

                @media (min-width: 375px) {
                    font-size: 16px;
                }

                @media (min-width: 768px) {
                    font-size: 22px;
                }
            }
        }

        .buttons-wrap {
            margin-top: 30px;
            text-align: center;

            a {
                position: relative;
                cursor: pointer;
                font-family: 'Karla', sans-serif;
                font-size: 14px;
                text-transform: uppercase;
                margin: 0 10px;
                color: rgba(0,0,0,.3);
                transition: .25s ease color;
                text-decoration: underline;
                text-underline-position: under;

                &:hover {
                    color: #D0021B;
                }
            }
        }
    }
}