<div class="container">

  <div>

    <div>

      <div class="row justify-content-md-center">

        <div class="col-md-8">

          <div class="copy-link-wrap" (clickOutside)='clickedOutside($event)' appClickOutside>

            <p #linkToCopy>{{link}}</p>

            <div class="buttons-wrap">

              <a role="button" (click)='copyLink()'>Link kopieren</a>
  
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>