:host {
    div {
        display: inline-block;

        .search-input-wrap {
            background-color: #EBEBEB;

            & > div {
                min-width: 80px;
                opacity: 0;
                transition: .15s ease opacity;

                &.show-me {
                    opacity: 1;
                }

                .search-nav-icon {
                    opacity: .5;
                    transition: .15s ease opacity;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        
        #close-search-icon {
            margin-left: 10px;
            opacity: .5;
            transition: .3s ease opacity;

            &:hover {
                opacity: 1;
            }
        }

        input {
            background-color: transparent;
            width: 346px;
            max-width: 100%;
            border: none;
            padding: 0 10px;
            &:focus {
                outline: none;
            }
        }

    }
}