<div>
  <div class="search-input-wrap">
    <input #searchInput type="text" [(ngModel)]="filter" placeholder="Buch durchsuchen">
    <div [class.show-me]='searchDomResults && searchDomResults.length'>
        <span *ngIf='searchDomResults'>{{currentSearchItemIndex + 1}}/{{searchDomResults.length}}</span>
        <a role="button" class='search-nav-icon prev' (click)='scrollToPrevItem()'><img src='assets/images/search-prev.svg' /></a>
        <a role="button" class='search-nav-icon next' (click)='scrollToNextItem()'><img src='assets/images/search-next.svg' /></a>
    </div>
  </div>
  <a role="button" id='close-search-icon' (click)='clearFilter()'><img src='assets/images/close.svg' /></a>
</div>