<div class="row justify-content-md-center">

  <div class="col-md-6">

    <div class="infobox-wrap">

      <p *ngIf='item.text' [innerHtml]='item.text'></p>

      <ng-container *ngIf='!item.text && item.textParts'>

        <ng-container *ngFor='let content of item.textParts'>

          <p *ngIf='content.type === "text"' [innerHtml]='content.text'></p>
          <p *ngIf='content.type === "math"' style="text-align: center;">
            <ng-katex [equation]='content.text'></ng-katex>
          </p>

        </ng-container>

      </ng-container>

    </div>

  </div>

</div>