:host {
    display: block;
    font-size: 13px;
    padding: 20px 0 40px;
    position: relative;
    width: 100%;

    @media (min-width: 768px) {
        font-size: 1rem;
        padding: 40px 0 100px;
    }

    .infobox-wrap {
        border: 1px solid #B9B9B9;
        padding: 15px 15px 10px;

        @media (min-width: 768px) {
            padding: 30px 40px 20px;
        }

        p {
            padding-bottom: 0;
            font-family: 'EB Garamond', serif;
            font-size: 1em;

            @media (min-width: 768px) {
                font-size: 1.375em;
            }
        }
    }
}