<div snInViewport (inViewportChange)="setActiveSection($event)">

  <div class="sub-chapter-intro-wrap" *ngIf='subChapter.is_sub_chapter'>

    <div class="container">

      <h3 [innerHtml]='subChapter.title'></h3>

    </div>

  </div>

 </div>

<ng-container *ngFor='let item of subChapter.learningSections'>

  <app-learning-section [learningSection]='item' [chapterIndex]='chapterIndex' [subChapterId]='subChapter.id' [chapterId]='chapterId'></app-learning-section>

</ng-container>