:host {
    .subchapter-intro-wrap {
        padding: 50px 0;
    }

    .sub-chapter-intro-wrap {
        min-height: 33.3333vh;
        display: flex;
        align-items: center;

        h3 {
            font-size: 1.5em;

            @media (min-width: 768px) {
                font-size: 3em;
            }
        }
    }
}