:host {
    .container-fluid {
        position: relative;
        height: 100vh;
        padding: 15px;
        background-color: #efefef;


        @media (min-width: 768px) {
            padding: 40px;
        }

        @media (min-width: 992px) {
            padding: 120px;
        }

        &:not(.image-loaded) {
            h1 {
                color: #000 !important;
            }
        }

        .cover-image {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0;
            transition: .7s ease opacity;

            &.ng-lazyloaded {
                opacity: 1;
            }
        }

        h1 {
            position: relative;
            z-index: 2;
            transition: .7s ease color;
        }
    }
}