<div
	class="container-fluid"
	#coverImageWrap
	snInViewport
	(inViewportChange)="onInViewportChange($event)"
>
	<div
		class="cover-image"
		*ngIf="cover.image"
		[lazyLoad]="cover.image.image_path"
		(onStateChange)="imageLoaded($event, coverImageWrap)"
	></div>

	<h1
		[innerHtml]="cover.title + '<br/><i>' + cover.author + '</i>'"
		[style.color]="cover.color"
	></h1>
</div>
