<div class="clearfix">
    
    <input class="cb-child" id="cb-{{ sectionName }}-{{ index }}" type="checkbox" name="cb-{{ sectionName }}-{{ index }}" [(ngModel)]='modelItem.checked' (change)='handleChange()' tabindex="-1" [attr.disabled]='disabled ? "" : null' required>
    <label class="cb-child" for="cb-{{ sectionName }}-{{ index }}">{{ cbName }}</label>
    
</div>