:host {
    & > div {
        display: block;
        position: relative;
        transition: all 0.05s ease-out;
        backface-visibility: hidden;
        border-radius: 23px;
        font-size: 12px;
        @media ( min-width: 992px) {
            font-size: 20px;
        }
        label {
            font-family: 'Karla', sans-serif;
            font-weight: normal;
            font-size: 12px;
            float: left;
            cursor: pointer;
            position: relative;
            margin: 0;
            line-height: 1;
            user-select: none;
            border-radius: 8px;
            border: 1px solid #000;
            overflow: hidden;
            padding: 10px 15px 8px;
            opacity: .5;
            transition: .25s ease opacity;

            @media ( min-width: 992px) {
                padding: 10px 15px 8px;
            }
        }
        input[type=checkbox] {
            display: none;
            &:checked+label {
               opacity: 1;
            }
        }
        &:hover {
            input[type=checkbox] {
                &+label {
                    // opacity: 1;
                }
            }
        }
    }
}