:host {
	span {
		font-family: 'Karla', sans-serif;
	}

	.page-links {
		margin-top: 30px;
		text-align: right;

		a {
			color: #000;
			font-family: 'Karla', sans-serif;
			font-size: 14px;
			opacity: 0.5;
			transition: 0.15s ease opacity;

			&:not(:first-child) {
				margin-left: 10px;
			}

			&:hover {
				opacity: 1;
			}
		}
	}

	.dashboard-wrap {
		display: inline-block;
		position: fixed;
		background-color: #fff;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		z-index: 99;
		height: 100vh;
		left: 100%;
		padding: 25px 15px;

		@media (min-width: 768px) {
			width: 60vw;
			transform: translateX(-100px);
			transition: 0.4s ease transform;
			border-left: 1px solid #b9b9b9;
			padding: 25px 25px;
		}

		@media (min-width: 992px) {
			padding: 35px 40px;
		}

		.dashboard-click-helper {
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.dashboard-header {
			span {
				line-height: 28px;
			}
			.headline-and-search-wrap {
				display: inline-block;
				div {
					display: inline-block;

					.search-icon {
						cursor: pointer;
						margin-left: 10px;
						opacity: 0.5;
						transition: 0.3s ease opacity;

						&:hover {
							opacity: 1;
						}
					}
				}
			}

			.top-buttons {
				a {
					cursor: pointer;
					display: inline-block;
					height: 28px;
					width: 28px;
					padding: 7px;

					&#close-icon {
						transform: rotate(0);
						transition: 0.2s ease transform;

						&:hover {
							transform: rotate(90deg);
						}
					}

					& > img {
						display: block;
						position: absolute;
					}
				}
			}
		}

		&.open {
			transform: translateX(-100%);
		}

		@media (min-width: 768px) {
			&:not(.open):hover {
				transform: translateX(-120px);
			}
		}

		.chapter-preview-wrap {
			margin-top: 50px;
			overflow: hidden;

			.bubble {
				position: relative;
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				margin-right: 10px;
			}

			.chapter-title {
				position: relative;
				cursor: pointer;
				padding: 8px 0;

				& > div {
					width: calc(100% - 20px);
				}

				span {
					font-weight: 700;
				}

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 22px;
					width: calc(100% - 22px);
					height: 1px;
					background-color: #b9b9b9;
				}

				.download-icon {
					position: absolute;
					right: 0;
					top: 0;
					padding: 8px 5px;
				}
			}

			.chapter-introduction {
				overflow: hidden;
				padding-left: 22px;

				&:hover {
					overflow: visible;
				}

				span {
					display: block;
					margin: 10px 0;
				}

				h5 {
					font-family: 'Karla', sans-serif;
					font-weight: bold;
					font-size: 16px;
				}

				.materials {
					margin-top: 20px;
					margin-bottom: 20px;

					& > div {
						float: none;
					}

					a {
						position: relative;
						display: inline-block;
						margin: 0 15px 0 0;
						cursor: pointer;
						color: #000;
						transition: 0.3s ease color;
						text-decoration: underline;
						text-underline-position: under;

						&.floating {
							display: block;
							float: left;
						}
					}
				}

				.keywords {
					margin-top: 20px;
					margin-bottom: 20px;

					ul {
						display: block;
						padding: 0;
						margin: 0;

						li {
							position: relative;
							display: inline-block;
							min-width: 50%;
							list-style: none;

							a.keyword {
								transition: 0.3s ease color;
							}

							span.bullet {
								position: relative;
								display: inline-block;
								top: -2px;
								width: 5px;
								height: 5px;
								border-radius: 50%;
								background-color: #000;
								margin-right: 7px;
							}

							span {
								margin: 0;
							}
						}
					}
				}
			}

			.sub-chapter-introduction {
				overflow: hidden;
				padding-left: 20px;
				padding-bottom: 20px;
			}
		}
	}
}
