<div class="dashboard-wrap" [class.open]='dashboardOpen' (clickOutside)='clickedOutside($event)' appClickOutside>

  <div class="dashboard-header row">

    <div class="col-md-2 col-6">

      <span>DASHBOARD</span>

    </div>

    <div class="col-md-8 centered d-none d-sm-block">

      <div class="headline-and-search-wrap">
        <div [hidden]="searchMode">
          <span class="uppercase">{{bookTitle}}</span>
          <a role="button" class='search-icon' (click)='searchMode = true;'><img src='assets/images/search.svg' /></a>
        </div>
        <div *ngIf="searchMode">
            <app-search-bar [setFocus]='true'></app-search-bar>
        </div>
      </div>

    </div>

    <div class="col-md-2 col-6 right-align top-buttons">

      <a role="button" class='download-icon' (click)='openDownloadModal()'><img src='assets/images/download.svg' /></a>
      <a role="button" id='close-icon' (click)='closeDashBoard();'><img src='assets/images/close.svg' /></a>

    </div>

  </div>

  <div [class]='"chapter-preview-wrap  chapters-"+chapters.length' *ngIf='chapters && chapters.length'>

    <div *ngFor='let chapter of chapters; let i = index'>

      <div class="chapter-title clearfix">

        <div (click)='(activeChapterIndex != i) ? activeChapterIndex = i : activeChapterIndex = -1'><span class="bubble"></span><span>{{chapter.title}}</span></div>
        <a role="button" class='download-icon' (click)='openDownloadChapterModal(chapter.sub_chapters, chapter.id)'><img src='assets/images/download.svg' /></a>

      </div>

      <div class="chapter-introduction" *ngIf='activeChapterIndex === i' [@showChapter]='state'>

        <span>{{chapter.introduction}}</span>

        <div class="row materials">

          <div class="col-md-10">

            <ng-container *ngFor='let subChapter of chapter.sub_chapters; let j = index'>

              <div>

                <a role='button' (click)='(activeSubChapterId !== subChapter.id) ? activeSubChapterId = subChapter.id : activeSubChapterId = 0'>
                    {{subChapter.title}}
                </a>

              </div>

              <div class="sub-chapter-introduction clearfix" *ngIf='activeSubChapterId === subChapter.id' [@showChapter]='state'>

                <br />

                <h5>Lernabschnitte</h5>

                <ng-container *ngFor='let learningSection of subChapter.learningSections'>

                  <ng-container *ngIf='learningSection.is_learning_section'>

                    <a role='button' class="floating" [class.active]='learningSection.id === activeLearningSectionId' href='{{ "#" + learningSection.learningSectionId }}' (click)='scrollToLearningSection(learningSection.learningSectionId)'>
                      {{learningSection.title}}
                    </a>
                    <!-- {{learningSection.learningSectionIndex}} -->

                  </ng-container>

                </ng-container>

                <br /><br />

              </div>

            </ng-container>

          </div>

        </div>

        <div class="row keywords" *ngIf='chapter.keywords && chapter.keywords.length'>

          <div class="col-md-2">

            <h5>Glossar</h5>

          </div>

          <div class="col-md-8">

            <ul class="clearfix">

              <li *ngFor='let keyword of chapter.keywords'>

                <span class="bullet"></span>
                <a class="keyword">
                  <span>{{keyword.keyword}}</span>
                  <span>{{keyword.comment}}<span>
                      <ng-container *ngIf='keyword.reference && keyword.reference.length'>Quelle: {{keyword.reference}}</ng-container>
                    </span></span>
                </a>

              </li>

            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="page-links">

      <a [routerLink]="['impressum']">Impressum</a>
      <a [routerLink]="['datenschutz']">Datenschutz</a>
      <a [routerLink]="['copyright']">Copyright</a>

  </div>

  <div *ngIf='!dashboardOpen' class="dashboard-click-helper" (click)='dashBoardClickHandler()'></div>

</div>