<div class="row justify-content-md-center">

  <div class="col-md-6">

    <div class="quote-wrap">

      <p [innerHtml]="item.text | highlight:filter"></p>

      <span [innerHtml]="( item.originator + ', ' + item.year ) | highlight:filter"></span>

      <img [lazyLoad]='item.imagesource' [offset]='"300"'/>

    </div>

  </div>

</div>