:host {
    display: block;
    font-size: 13px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    width: 100%;

    @media (min-width: 768px) {
        font-size: 1rem;
    }

    .quote-wrap {
        position: relative;
        border: 1px solid #B9B9B9;
        padding: 50px 15px 10px;

        @media (min-width: 768px) {
            padding: 50px 40px 40px;
        }

        p {
            padding-bottom: 0;
            font-family: 'EB Garamond', serif;
            font-style: italic;
            font-size: 1em;

            @media (min-width: 768px) {
                font-size: 1.0625em;
            }
        }

        span {
            display: block;
            text-align: right;
            font-family: 'EB Garamond', serif;
            font-size: 1em;

            @media (min-width: 768px) {
                font-size: 1.0625em;
            }
        }

        img {
            position: absolute;
            display: block;
            left: 15px;
            top: -80px;
            height: 111px;

            @media (min-width: 768px) {
                left: 40px;
            }
        }
    }
}