:host {
	display: block;
	position: relative;
	width: 100%;

	.table-scroll-wrap {
		position: relative;
		width: 100%;

		@media (max-width: 767px) {
			overflow-y: visible;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}

	p.content-text {
		&.left {
			text-align: left;
		}
		&.right {
			text-align: right;
		}
		&.center {
			text-align: center;
		}
		&.justify {
			text-align: justify;
		}
	}
}
