<div class="row justify-content-md-center">
	<div class="col-xl-8" #text>
		<ng-container *ngIf="item.text">
			<ng-container *ngIf="item.hasTable; else noTable">
				<div class="table-scroll-wrap">
					<p [innerHtml]="item.text | highlight: filter" [class]="textStyleClass"></p>
				</div>
			</ng-container>

			<ng-template #noTable>
				<p [innerHtml]="item.text | highlight: filter" [class]="textStyleClass"></p>
			</ng-template>
		</ng-container>

		<ng-container *ngIf="!item.text && item.textParts">
			<ng-container *ngFor="let content of item.textParts">
				<p
					*ngIf="content.type === 'text'"
					[innerHtml]="content.text | highlight: filter"
					[class]="textStyleClass"
				></p>
				<p *ngIf="content.type === 'math'" [class]="textStyleClass">
					<ng-katex [equation]="content.text"></ng-katex>
				</p>
			</ng-container>
		</ng-container>
	</div>
</div>
