/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import '~katex/dist/katex.css';

@function setStyle($map, $object, $style) {
	@if map-has-key($map, $object) {
		@return map-get(map-get($map, $object), $style);
	}
	@warn "The key ´#{$object} is not available in the map.";
	@return null;
}

$chapterColors: (
	chapter1: (
		1: #d0021b
	),
	chapter2: (
		1: #d0021b,
		2: #f5a623
	),
	chapter3: (
		1: #d0021b,
		2: #f5a623,
		3: #f8e71c
	),
	chapter4: (
		1: #d0021b,
		2: #f5a623,
		3: #f8e71c,
		4: #b8e986
	),
	chapter5: (
		1: #d0021b,
		2: #f5a623,
		3: #f8e71c,
		4: #b8e986,
		5: #50e3c2
	),
	chapter6: (
		1: #d0021b,
		2: #f5a623,
		3: #f8e71c,
		4: #b8e986,
		5: #50e3c2,
		6: #4a90e2
	)
);

$chapterIntroFontColors: (
	chapter1: (
		1: #fff
	),
	chapter2: (
		1: #fff,
		2: #fff
	),
	chapter3: (
		1: #fff,
		2: #fff,
		3: #000
	),
	chapter4: (
		1: #fff,
		2: #fff,
		3: #000,
		4: #000
	),
	chapter5: (
		1: #fff,
		2: #fff,
		3: #000,
		4: #000,
		5: #000
	),
	chapter6: (
		1: #fff,
		2: #fff,
		3: #000,
		4: #000,
		5: #000,
		6: #fff
	)
);

.banner {
	top: 0 !important;
	bottom: auto !important;
}

body,
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;

	@media (min-width: 1281px) {
		font-size: 16px;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Cormorant Garamond', serif;

	i {
		font-family: 'Cormorant Garamond', serif;
		font-style: italic;
	}
}

h1 {
	font-size: 2em;
	line-height: 1.097560975609756em;

	@media (min-width: 768px) {
		font-size: 3.5em;
	}

	@media (min-width: 992px) {
		font-size: 5.125em;
	}
}

.container {
	@media (min-width: 768px) and (max-width: 900px) {
		padding-right: 100px;
	}

	@media (min-width: 992px) and (max-width: 1124px) {
		padding-right: 100px;
	}
}

.note-math {
	.note-latex {
		display: none !important;
	}
}

// Modals
.modal-dialog {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	max-width: none !important;

	.modal-content {
		height: auto;
		background: transparent;
		max-width: 100%;
		min-height: 100%;
		border-radius: 0;
		overflow-x: hidden;
		overflow-y: auto;
		border: none !important;
		box-shadow: none !important;
	}
}

.cc-allow:hover {
	color: #000 !important;
}

.cc-window .cc-message {
	padding: 15px;
	font-size: 13px !important;
	line-height: 16px !important;

	span {
		display: block;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	a {
		color: #000 !important;
		text-decoration: underline !important;
		margin-left: -0.2em;
	}
}

.cc-window {
	overflow: auto;
	max-height: 100vh;

	.cc-compliance {
		padding-right: 30px;
	}
}

.cc-revoke.cc-top {
	top: auto !important;
	bottom: 0 !important;
	border-radius: 0.5em 0.5em 0 0 !important;
}

.right-align {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.chapter-preview-wrap {
	.bubble {
		background-color: #000;
	}

	&.chapters-1 {
		& > div:nth-child(1) .bubble {
			background-color: setStyle($chapterColors, chapter1, 1);
		}
	}

	&.chapters-2 {
		& > div:nth-child(1) .bubble {
			background-color: setStyle($chapterColors, chapter2, 1);
		}
		& > div:nth-child(2) .bubble {
			background-color: setStyle($chapterColors, chapter2, 2);
		}
	}

	&.chapters-3 {
		& > div:nth-child(1) .bubble {
			background-color: setStyle($chapterColors, chapter3, 1);
		}
		& > div:nth-child(2) .bubble {
			background-color: setStyle($chapterColors, chapter3, 2);
		}
		& > div:nth-child(3) .bubble {
			background-color: setStyle($chapterColors, chapter3, 3);
		}
	}

	&.chapters-4 {
		& > div:nth-child(1) .bubble {
			background-color: setStyle($chapterColors, chapter4, 1);
		}
		& > div:nth-child(2) .bubble {
			background-color: setStyle($chapterColors, chapter4, 2);
		}
		& > div:nth-child(3) .bubble {
			background-color: setStyle($chapterColors, chapter4, 3);
		}
		& > div:nth-child(4) .bubble {
			background-color: setStyle($chapterColors, chapter4, 4);
		}
	}

	&.chapters-5 {
		& > div:nth-child(1) .bubble {
			background-color: setStyle($chapterColors, chapter5, 1);
		}
		& > div:nth-child(2) .bubble {
			background-color: setStyle($chapterColors, chapter5, 2);
		}
		& > div:nth-child(3) .bubble {
			background-color: setStyle($chapterColors, chapter5, 3);
		}
		& > div:nth-child(4) .bubble {
			background-color: setStyle($chapterColors, chapter5, 4);
		}
		& > div:nth-child(5) .bubble {
			background-color: setStyle($chapterColors, chapter5, 5);
		}
	}

	&.chapters-6 {
		& > div:nth-child(1) .chapter-introduction .materials a:hover,
		& > div:nth-child(1) .chapter-introduction .materials a.active,
		& > div:nth-child(1) .chapter-introduction .keywords ul li a:hover {
			color: setStyle($chapterColors, chapter6, 1) !important;
		}
		& > div:nth-child(1) .bubble {
			background-color: setStyle($chapterColors, chapter6, 1) !important;
		}
		& > div:nth-child(2) .chapter-introduction .materials a:hover,
		& > div:nth-child(2) .chapter-introduction .materials a.active,
		& > div:nth-child(2) .chapter-introduction .keywords ul li a:hover {
			color: setStyle($chapterColors, chapter6, 2) !important;
		}
		& > div:nth-child(2) .bubble {
			background-color: setStyle($chapterColors, chapter6, 2) !important;
		}
		& > div:nth-child(3) .chapter-introduction .materials a:hover,
		& > div:nth-child(3) .chapter-introduction .materials a.active,
		& > div:nth-child(3) .chapter-introduction .keywords ul li a:hover {
			color: setStyle($chapterColors, chapter6, 3) !important;
		}
		& > div:nth-child(3) .bubble {
			background-color: setStyle($chapterColors, chapter6, 3) !important;
		}
		& > div:nth-child(4) .chapter-introduction .materials a:hover,
		& > div:nth-child(4) .chapter-introduction .materials a.active,
		& > div:nth-child(4) .chapter-introduction .keywords ul li a:hover {
			color: setStyle($chapterColors, chapter6, 4) !important;
		}
		& > div:nth-child(4) .bubble {
			background-color: setStyle($chapterColors, chapter6, 4) !important;
		}
		& > div:nth-child(5) .chapter-introduction .materials a:hover,
		& > div:nth-child(5) .chapter-introduction .materials a.active,
		& > div:nth-child(5) .chapter-introduction .keywords ul li a:hover {
			color: setStyle($chapterColors, chapter6, 5) !important;
		}
		& > div:nth-child(5) .bubble {
			background-color: setStyle($chapterColors, chapter6, 5) !important;
		}
		& > div:nth-child(6) .chapter-introduction .materials a:hover,
		& > div:nth-child(6) .chapter-introduction .materials a.active,
		& > div:nth-child(6) .chapter-introduction .keywords ul li a:hover {
			color: setStyle($chapterColors, chapter6, 6) !important;
		}
		& > div:nth-child(6) .bubble {
			background-color: setStyle($chapterColors, chapter6, 6) !important;
		}
	}
}

#btn-mobile-dashboard path {
	transition: 0.15s ease all;
}

body.text-section {
	#btn-mobile-dashboard path {
		stroke: #000 !important;
	}
}

body.chapters-6 {
	#chapter-1 {
		.chapter-indicator-helper,
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			background-color: setStyle($chapterColors, chapter6, 1);
		}
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			color: setStyle($chapterIntroFontColors, chapter6, 1);
		}
		p.content-text a.keyword > span:first-child,
		p.intro a.keyword > span:first-child,
		.media-links .keywords ul li a.keyword > span:first-child {
			color: setStyle($chapterColors, chapter6, 1);
		}
	}
	#chapter-2 {
		.chapter-indicator-helper,
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			background-color: setStyle($chapterColors, chapter6, 2);
		}
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			color: setStyle($chapterIntroFontColors, chapter6, 2);
		}
		p.content-text a.keyword > span:first-child,
		p.intro a.keyword > span:first-child,
		.media-links .keywords ul li a.keyword > span:first-child {
			color: setStyle($chapterColors, chapter6, 2);
		}
	}
	#chapter-3 {
		.chapter-indicator-helper,
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			background-color: setStyle($chapterColors, chapter6, 3);
		}
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			color: setStyle($chapterIntroFontColors, chapter6, 3);
		}
		p.content-text a.keyword > span:first-child,
		p.intro a.keyword > span:first-child,
		.media-links .keywords ul li a.keyword > span:first-child {
			color: setStyle($chapterColors, chapter6, 3);
		}
	}
	#chapter-4 {
		.chapter-indicator-helper,
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			background-color: setStyle($chapterColors, chapter6, 4);
		}
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			color: setStyle($chapterIntroFontColors, chapter6, 4);
		}
		p.content-text a.keyword > span:first-child,
		p.intro a.keyword > span:first-child,
		.media-links .keywords ul li a.keyword > span:first-child {
			color: setStyle($chapterColors, chapter6, 4);
		}
	}
	#chapter-5 {
		.chapter-indicator-helper,
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			background-color: setStyle($chapterColors, chapter6, 5);
		}
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			color: setStyle($chapterIntroFontColors, chapter6, 5);
		}
		p.content-text a.keyword > span:first-child,
		p.intro a.keyword > span:first-child,
		.media-links .keywords ul li a.keyword > span:first-child {
			color: setStyle($chapterColors, chapter6, 5);
		}
	}
	#chapter-6 {
		.chapter-indicator-helper,
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			background-color: setStyle($chapterColors, chapter6, 6);
		}
		.chapter-intro-wrap,
		.sub-chapter-intro-wrap {
			color: setStyle($chapterIntroFontColors, chapter6, 6);
		}
		p.content-text a.keyword > span:first-child,
		p.intro a.keyword > span:first-child,
		.media-links .keywords ul li a.keyword > span:first-child {
			color: setStyle($chapterColors, chapter6, 6);
		}
	}

	app-chapter-overview#chapter-1-overview div.chapter-overview-wrap.active h3 {
		color: setStyle($chapterColors, chapter6, 1);
	}

	app-chapter-overview#chapter-2-overview div.chapter-overview-wrap.active h3 {
		color: setStyle($chapterColors, chapter6, 2);
	}

	app-chapter-overview#chapter-3-overview div.chapter-overview-wrap.active h3 {
		color: setStyle($chapterColors, chapter6, 3);
	}

	app-chapter-overview#chapter-4-overview div.chapter-overview-wrap.active h3 {
		color: setStyle($chapterColors, chapter6, 4);
	}

	app-chapter-overview#chapter-5-overview div.chapter-overview-wrap.active h3 {
		color: setStyle($chapterColors, chapter6, 5);
	}

	app-chapter-overview#chapter-6-overview div.chapter-overview-wrap.active h3 {
		color: setStyle($chapterColors, chapter6, 6);
	}

	app-chapter-overview {
		div.chapter-overview-wrap:nth-child(1):hover h3 {
			color: setStyle($chapterColors, chapter6, 1) !important;
		}
		div.chapter-overview-wrap:nth-child(2):hover h3 {
			color: setStyle($chapterColors, chapter6, 2) !important;
		}
		div.chapter-overview-wrap:nth-child(3):hover h3 {
			color: setStyle($chapterColors, chapter6, 3) !important;
		}
		div.chapter-overview-wrap:nth-child(4):hover h3 {
			color: setStyle($chapterColors, chapter6, 4) !important;
		}
		div.chapter-overview-wrap:nth-child(5):hover h3 {
			color: setStyle($chapterColors, chapter6, 5) !important;
		}
		div.chapter-overview-wrap:nth-child(6):hover h3 {
			color: setStyle($chapterColors, chapter6, 6) !important;
		}
	}
}

h2,
.quote-wrap span {
	span.highlight {
		background-color: rgba(220, 20, 60, 0.5);
		color: #fff !important;
		display: inline-block;
		margin: 0 -3px;
		padding: 0 3px;

		&.focused {
			background-color: rgba(220, 20, 60, 1);
		}
	}
}

p {
	font-family: 'agaramondpro-regular';
	font-size: 1.0625em;
	line-height: 1.3529411765;

	&.content-text:last-child {
		padding-bottom: 50px;
	}

	span.highlight {
		background-color: rgba(220, 20, 60, 0.5);
		color: #fff !important;
		display: inline-block;
		margin: 0 -3px;
		padding: 0 3px;

		&.focused {
			background-color: rgba(220, 20, 60, 1);
		}
	}

	p {
		padding-bottom: 0;
	}

	&.intro {
		font-size: 1.625em;
		line-height: 1.153846153846154em;
		padding-top: 70px;
		padding-bottom: 110px;

		a.keyword {
			& > span:last-child {
				line-height: 1.153846153846154em;
				padding: calc(1.5em + 25px) 15px 15px !important;
			}
		}
	}
}

.page-content p {
	padding-bottom: 0px;
}

p.content-text,
p.intro,
div.chapter-introduction ul li,
.media-links .keywords ul li {
	a.keyword {
		position: relative;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;

		& > span:first-child {
			position: relative !important;
		}

		&.is-note {
			& > span:first-child {
				bottom: 5px;
			}
		}

		& > span:last-child {
			font-family: 'Karla', sans-serif;
			font-size: 15px;
			color: #212529;
			position: absolute;
			cursor: default;
			visibility: hidden;
			opacity: 0;
			width: 350px;
			top: -15px;
			left: -15px !important;
			background-color: #fff;
			padding: calc(1.5em + 15px) 15px 15px;
			border: 1px solid #b9b9b9;
			transition: 0s ease all;

			& > span:not(.highlight) {
				position: relative !important;
				left: auto;
				margin-top: 10px;
				display: block;
				text-align: right;
				font-size: 11px;
				color: #9b9b9b;
			}

			& > span.highlight {
				background-color: transparent;
				color: inherit !important;
				display: inline-block;
				margin: 0;
				padding: 0;
			}
		}

		&:hover {
			text-decoration: none;

			& > span:first-child {
				z-index: 2;
			}
			& > span:last-child {
				visibility: visible;
				opacity: 1;
				z-index: 1;
				transition: 0.3s ease all;
			}
		}
	}
}

span {
	// font-family: 'agaramondpro-regular';
}

.centered {
	text-align: center;

	& > div {
		display: inline-block;
	}
}

div.iframe-wrap {
	& > div > iframe {
		position: relative;
		width: 100%;
		height: 100%;
	}
}
