:host {

    .learning-section-option-buttons {
        margin: 20px 0;
        text-align: right;


        @media (min-width: 768px) {
            margin: 50px 0;
        }

        a {
            cursor: pointer;

            opacity: .5;
            transition: .15s ease opacity;

            &:not(:first-child) {
                margin-left: 40px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    h2 {
        font-size: 2em;
        line-height: 1.09375em;

        @media (min-width: 768px) {
            font-size: 4em;
        }
    }

    div.work-orders {
        padding-top: 140px;
        padding-bottom: 140px;
        border-bottom: 1px solid #CCCCCC;

        h4 {
            font-size: 16px;
            font-family: 'Karla', sans-serif;
            font-weight: normal;
            margin-bottom: 20px;
            text-decoration: underline;

            @media (min-width: 768px) {
                font-size: 22px;
            }
        }

        p {
            font-size: 14px;
            font-family: 'Karla', sans-serif;
            padding-bottom: 0;

            @media (min-width: 768px) {
                font-size: 22px;
            }
        }
    }

    .chapter-additionals-wrap {
        border-bottom: 1px solid #CCCCCC;

        p {
            margin-bottom: 0;
            padding-bottom: 10px;
        }

        a.chapter-additionals {
            font-family: 'Cormorant Garamond', serif;
            font-size: 15px;
            cursor: pointer;
            text-transform: uppercase;
            border-top: 1px solid #CCCCCC;
            display: block;
            padding: 12px 0;
        }
    }

    .additionals-content {
        & > div {
            padding: 100px 0;
        }

        .keywords {
            margin-top: 20px;
            margin-bottom: 20px;
    
            ul {
                display: block;
                padding: 0;
                margin: 0;
    
                li {
                    position: relative;
                    display: inline-block;
                    min-width: 50%;
                    list-style: none;
    
                    a.keyword {
                        transition: .3s ease color;
                    }
    
                    span.bullet {
                        position: relative;
                        display: inline-block;
                        top: -2px;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #000;
                        margin-right: 7px;
                    }
    
                    span {
                        margin: 0;
                    }
                }
            }
        }

        &.media-links {
            a {
                color: #000;
            }
        }

        h5 {
            font-family: 'Karla', sans-serif;
            font-size: 16px;
            font-weight: 700;
        }

        ul {
            position: relative;
            padding-left: 18px;
            li {
                span {
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}