<div
	class="container"
	[id]="learningSection.learningSectionId"
	snInViewport
	(inViewportChange)="setActiveSection($event)"
>
	<div class="learning-section-option-buttons">
		<a
			[href]="
				'https://ifso.sowi.uni-due.de/oer/books/1/generate-pdf?chapters=' +
				chapterId +
				'&learningsections=' +
				learningSection.id
			"
			target="_self"
			><img src="assets/images/download-big.svg"
		/></a>

		<a role="button" class="copy-link" (click)="openCopyLinkModal(learningSection.learningSectionId)"
			><img src="assets/images/copy-link.svg"
		/></a>
	</div>

	<h2 [innerHtml]="learningSection.title | highlight: filter"></h2>

	<div class="row justify-content-md-center" *ngIf="learningSection.introduction">
		<div class="col-xl-8">
			<p class="intro" [innerHtml]="learningSection.introduction | highlight: filter"></p>
		</div>
	</div>

	<ng-container *ngFor="let item of learningSection.content; let i = index">
		<ng-container [ngSwitch]="item.type">
			<ng-container *ngSwitchCase="'image'">
				<app-image [item]="item"></app-image>
			</ng-container>

			<ng-container *ngSwitchCase="'text'">
				<app-text [item]="item"></app-text>
			</ng-container>

			<ng-container *ngSwitchCase="'quote'">
				<app-quote [item]="item"></app-quote>
			</ng-container>

			<ng-container *ngSwitchCase="'video'">
				<app-video [item]="item"></app-video>
			</ng-container>

			<ng-container *ngSwitchCase="'iframe'">
				<app-iframe [item]="item"></app-iframe>
			</ng-container>

			<ng-container *ngSwitchCase="'chart'">
				<app-chart [item]="item"></app-chart>
			</ng-container>

			<ng-container *ngSwitchCase="'infobox'">
				<app-info-box [item]="item"></app-info-box>
			</ng-container>
		</ng-container>
	</ng-container>
</div>

<ng-container
	*ngIf="
		learningSection.is_learning_section ||
		(learningSection.furtherInformation && learningSection.furtherInformation.length)
	"
>
	<div class="chapter-additionals-wrap">
		<div class="container">
			<ng-container
				*ngIf="learningSection.furtherInformation && learningSection.furtherInformation.length"
			>
				<a class="chapter-additionals" role="button" (click)="setActiveAdditionalIndex(1)"
					>Lizenzangaben</a
				>

				<div class="additionals-content" *ngIf="activeAdditionalIndex === 1" [@showAdditional]="state">
					<div class="row justify-content-md-center">
						<div class="col-xl-8" #text>
							<ng-container *ngFor="let furterInfo of learningSection.furtherInformation">
								<p [innerHtml]="furterInfo.text"></p>
							</ng-container>
						</div>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="learningSection.keywords?.length || learningSection.mediaLinks?.length">
				<a class="chapter-additionals" role="button" (click)="setActiveAdditionalIndex(2)"
					>Medien & Links</a
				>

				<div
					class="additionals-content media-links"
					*ngIf="activeAdditionalIndex === 2"
					[@showAdditional]="state"
				>
					<div class="row justify-content-md-center">
						<div
							class="col-md-4 keywords"
							*ngIf="learningSection.keywords && learningSection.keywords.length"
						>
							<h5>Glossar</h5>

							<ul class="clearfix">
								<li *ngFor="let keyword of learningSection.keywords">
									<span class="bullet"></span>
									<a class="keyword">
										<span>{{ keyword.keyword }}</span>
										<span
											>{{ keyword.comment
											}}<span>
												<ng-container *ngIf="keyword.reference && keyword.reference.length"
													>Quelle: {{ keyword.reference }}</ng-container
												>
											</span></span
										>
									</a>
								</li>
							</ul>
						</div>

						<div class="col-md-4">
							<ng-container *ngIf="learningSection.mediaLinks && learningSection.mediaLinks.length">
								<h5>Medien & Links</h5>

								<ul>
									<li *ngFor="let mediaLink of learningSection.mediaLinks">
										<a
											*ngIf="mediaLink.type === 'link'; else filewrap"
											[href]="mediaLink.url"
											target="_blank"
											>{{ mediaLink.display_name }}</a
										>

										<ng-template #filewrap>
											<a
												*ngIf="mediaLink.attachment && mediaLink.attachment.filename.length"
												[href]="mediaLink.attachment.filename"
												target="_blank"
												>{{ mediaLink.display_name }}</a
											>
										</ng-template>
									</li>
								</ul>
							</ng-container>
						</div>

						<div
							class="col-md-4"
							*ngIf="
								!(learningSection.keywords && learningSection.keywords.length) &&
								learningSection.mediaLinks &&
								learningSection.mediaLinks.length
							"
						></div>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="learningSection.notes && learningSection.notes.length">
				<a class="chapter-additionals" role="button" (click)="setActiveAdditionalIndex(3)">Fußnoten</a>

				<div class="additionals-content" *ngIf="activeAdditionalIndex === 3" [@showAdditional]="state">
					<ul>
						<li *ngFor="let note of learningSection.notes">
							<span>{{ note.noteIndex }}</span> {{ note.text }}
						</li>
					</ul>
				</div>
			</ng-container>
		</div>
	</div>

	<div class="work-orders" *ngIf="learningSection.workOrders && learningSection.workOrders.length">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-xl-8">
					<h4>Arbeitsaufträge</h4>

					<div class="row" *ngFor="let workOrder of learningSection.workOrders; let i = index">
						<div class="col-md-1">
							{{ workOrder.workOrderIndex }}
						</div>

						<div class="col-xl-8">
							<p [innerHtml]="workOrder.text"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
